body {
    font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    margin-top: 0;
    padding: 20px 10px;
    background-color: rgb(252, 73, 139);
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

ul{
    word-spacing: 8px;
}

li {
    display: inline;  
}

li a {
    color: rgb(0, 231, 142);
}

section {
    margin-left: 3%;
    margin-right: 3%;
}

#home, #about {
    border-bottom: 3px solid rgb(240, 238, 238);
}

.product {
    background-color: rgb(255, 208, 0);
}

img {
  border: 1px; 
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
}

button {
    padding: 10px;
    border-color:  rgb(51, 172, 51);
    width: 100px;
    background-color: rgb(51, 172, 51);
    color:white;
    }
    
footer {
    height:60px;  
    margin-top: 10px;;
    padding-top: 5px;
    text-align: center;
    background-color: black;
    color: white;
}
